.tab-container {
  display: flex;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  position: relative;
  width: fit-content;
  margin-top: 30px;
}

.tab {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  color: #555;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border-bottom: 2px solid transparent;
}

.tab:hover {
  color: #333;
}

.tab.active {
  color: #ff4a95;
  font-weight: 700;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 3px;
  background-color:  #ff4a95;;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.underline.tasks {
  left: 0;
  width: calc(100% * 0.5);
  transform: translateX(0);
}

.underline.goals {
  left: 0;
  width: calc(100% * 0.5);
  transform: translateX(100%);
}


.tab:not(.active):hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 2px;
  background-color: rgba(74, 107, 255, 0.3);
  transition: all 0.3s ease;
}


.app[data-theme="dark"] .tab-container {
  background-color: transparent;
}

.app[data-theme="dark"] .tabs {
  border-bottom: 2px solid #444; 
}

.app[data-theme="dark"] .tab {
  color: #b0b0b0;
}

.app[data-theme="dark"] .tab:hover {
  color: #e0e0e0;
}

